label {
    cursor: pointer;
}
label.disabled {
    cursor: wait;
    color: gray;
}
label:hover {
    color: gray;
}
.uploading {
    display: none;
}
.re-upload {
    color: #5246ff;
    cursor: pointer;
}
.progress {
    display: none;
}
.progress-bar {
    width: 0;
}
